---
import Layout from "../layouts/Layout.astro";
import PlayListCard from "@/components/PlayListCard.astro";
import { playlists } from "@/lib/data";
import { DateToday } from "@/components/DateToday.jsx";
---

<Layout title="Spotify Clone">
  <div
    id="playlist-container"
    class="relative
    transition-all
    duration-1000
    h-40
    bg-gradient-to-b
  from-green-600
    pt-8
    rounded-lg"
  >
    <div class="relative z-10 px-6 py-6">
      <DateToday client:load />
      <div
        class="grid
          grid-cols-2
          sm:grid-cols-3
          md:grid-cols-3
          lg:grid-cols-4
          xl:grid-cols-5
          2xl:grid-cols-8
          gap-4
          mt-4"
      >
        {playlists.map((playlist) => <PlayListCard playlist={playlist} />)}
      </div>
    </div>
  </div>
</Layout>
