---
import Time from "../icons/Time.astro";
import { type Song } from "../lib/data";
import { SongRow } from "./SongRow";

interface Props {
  song: Song[];
}

const { song } = Astro.props;
---

<div class="px-6 pt-4">
  <table class="table-auto text-left min-w-full divide-y divide-slate-500/50">
    <thead>
      <tr class="text-sm text-gray-400 font-light">
        <th class="px-4 py-2">#</th>
        <th class="px-4 py-2">Título</th>
        <th class="px-4 py-2">Álbum</th>
        <th class="px-4 py-2"><Time /></th>
      </tr>
    </thead>
    <tbody>
      <tr class="h-[15px]"></tr>
      {song.map((song, index) => <SongRow song={song} index={index} />)}
    </tbody>
  </table>
</div>
