---
import Time from "../icons/Time.astro";
import {  songs, allPlaylists } from "../lib/data";
import { SongRow } from "./SongRow";

const { id } = Astro.params;

const playList = allPlaylists.find((playlist) => playlist.id === id);
const playListSongs = songs.filter(
  (song) => song.albumId === playList?.albumId)
---

<div class="px-6 pt-4">
  <table class="table-auto text-left min-w-full divide-y divide-slate-500/50">
    <thead>
      <tr class="text-sm text-gray-400 font-light">
        <th class="px-4 py-2">#</th>
        <th class="px-4 py-2">Título</th>
        <th class="px-4 py-2">Álbum</th>
        <th class="px-4 py-2"><Time /></th>
      </tr>
    </thead>
    <tbody>
      <tr class="h-[15px]"></tr>
      <SongRow song={playListSongs} />
    </tbody>
  </table>
</div>
